html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

div {
  border: 1px solid #000;
}

/* Navigation Section */
.top-navigation {
  background-color: #fff;
}

.top-navigation .links {
  float: right;
  color: #838994;
  margin-top: 25px;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 1.563rem;
}

.top-navigation .links > .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  color: #4c5058;
  cursor: pointer;
}

.content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
  padding: 0px 15px;
}

.introduction {
  background-image: url('../images/first-background copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
}

/* Custom Buttons */

.buttons {
  width: 9.688rem;
  background-color: #f15a29;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 4px;
}
